%h1= movie.title
%img.img-rounded{ src: movie.decorate.tmdb_cover }
.jumbotron
  = movie.decorate.tmdb_description
  = movie.description

%h3 
  Average TMDB rating: 
  = movie.decorate.tmdb_avg_rating
  
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(movie), class: 'btn btn-sm btn-default'
